/* header css */

header {
    background-color: #ffecb9;
}

header h1 {
    font-size: 50px;
    font-family: 'Comfortaa', cursive;
    color: rgb(3, 102, 141);
}

header p {
    font-family: 'Comfortaa', cursive;
    font-size: 25px;
}


/* nav bar ccs */

nav {
    background-color: #ffecb9;
}

nav p {
    font-family: 'Comfortaa', cursive;
    font-size: 20px;
}