/* page wide css */

* {
    font-family: 'Open Sans', sans-serif;
}

h1 {
    font-size: 50px;
    margin: 0px;
    padding: 0px;
}

p {
    font-size: 25px;
    margin: 10px;
    padding-top: 0px;
}

a {
    text-decoration: none;
}

a:hover {}


/* header css */

header {
    background-color: #FAB578;
    margin: 0px;
    padding: 20px;
}

header h1 {
    color: #173E69;
}


/* nav bar ccs */

nav {
    background-color: #FAB578;
    padding: 20px;
}

nav ul {
    position: -webkit-sticky;
    position: sticky;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav li {
    float: left;
    display: inline;
}

nav li a {
    display: inline;
    text-align: left;
    padding: 10px 10px;
    text-decoration: none;
    color: #173E69;
}

nav li a:hover {
    background-color: #173E69;
    color: white;
}

nav li a.active {
    background-color: white;
    color: #173E69;
}


/* Book review */

.subtitle