header {
    background-color: #ffce47;
}

header h1 {
    font-size: 20px;
    font-family: 'Comfortaa', cursive;
    color: rgb(3, 147, 204);
}

p {
    font-family: 'Comfortaa', cursive;
    font-size: 10px;
}